.App {
  text-align: center;
}

.card {
  display: flex;
  justify-content: center;
}
.stay {
  display: flex;
  align-items: baseline;
}

@font-face {
  font-family: 'webFont';
  src: local('webFont'), url(./Fonts/webFont.ttf) format('truetype');
}
h1 {
  font-family: webFont;
  text-shadow: 2px 2px 4px whitesmoke;
}
